body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#image-upload-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    color: rgb(255, 255, 255);
    border: 2px solid red;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}

#image-upload-container button {
    border: 2px dashed #007bff;
    background-color: transparent;
    color: #007bff;
    font-size: 30px;
    padding: 35px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 100px;
    height: 100px;
}

#image-upload-container button:hover {
    background-color: #f0f8ff;
}

#image-modification-form {
    display: none;
    margin-top: 20px;
}

button[type="button"] {
    margin-top: 10px;
}

header {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

header h1 {
    color: white;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    font-weight: bold;
}

form .form-group input, form .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
